  .no_user_image {
    width: 25px;
    border-radius: 50%; 
  }

  .icon {
    width: 25px;
    height: 25px;
    border-radius: 50%; 
  }

  .name {
    color: #009688;
    text-decoration: none;
  }