@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import "tops";
@import "navbar";
@import "posts";
@import "users";
@import "notifications";


body {
  background-color: #fbfbfc;
  main {
  margin: 0 auto;
  padding-top: 5rem;
  }
}

.pagination {
  justify-content: center;
}

